#layout {
  position: relative;
  height: 100%;
  display: none;
  left: 0;
  top: 0;
  transition: top 1s;
}
#layout .footer {
  text-align: center;
  color: #ccc;
}
#layout.active {
  display: block;
}
