#left-nav {
  color: #eb3203;
  height: 100%;
}
#left-nav .user-data-box {
  position: relative;
  height: 80px;
  left: 0;
  top: 0;
  margin-bottom: 20px;
  box-shadow: -1px 2px 4px #000;
  padding-top: 5px;
  font-size: 20px;
}
#left-nav .user-data-box div {
  height: 100%;
}
#left-nav .user-data-box span {
  text-align: left;
  color: #fff;
}
